.knopka  {
	background-image: url(../images/field.jpg);
	background-size: cover;
	background-position: center;
	height: 200px;
	padding-top: 80px;
	margin-right: 0;
	margin-left: 0;
}

.header {
	background: #F5F5F5;
}

.newGame {
	display: none;
}

.zagolovok {
	float: left;
	text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

.zagolovok-2 {
	display: block;
	margin: 0, auto;
}

.start {
	display: block;
	margin: 0 auto;
}

.teamcontainer {
	font-weight: bold;
}

@supports (-webkit-appearance:none) {
.teamcontainer:nth-child(5) {
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(25,138,80,1)), color-stop(100%, rgba(39,242,63,0.31)));
	}
}

.teamcontainer:first-child {
	background: -moz-linear-gradient(top, rgba(241,231,103,1) 0%, rgba(242,232,87,1) 17%, rgba(247,239,10,0) 100%);
}

.teamcontainer:nth-child(2) {
	background: -moz-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(32,124,229,0) 100%);
}

.teamcontainer:nth-child(3) {
	background: -moz-linear-gradient(top, rgba(231,56,39,1) 0%, rgba(255,0,0,0) 100%);
}

.teamcontainer:nth-child(4) {
	background: -moz-linear-gradient(top, rgba(203,96,179,1) 0%, rgba(240,36,172,0) 100%);
}

.teamcontainer:nth-child(5) {
	background: -moz-linear-gradient(top, rgba(25,138,80,1) 0%, rgba(14,240,44,0.23) 100%);
}

.divteam {
	position: block;
	margin: 0 auto;
	text-transform: uppercase;
	font-size: 20px;
	text-align: center;
}

.player p {
	display: inline;

}

.player p:last-child {
	float: right;

}

.position h3 {
	display: inline-block;
}

.position h3:last-child {
	float: right;
}

.name-player {
	font-size: 20px;
}

.checkbox-player:checked ~ .name-player {
	color: green;
	transition: 2s;
}

input.checkbox-player {
	margin: 9px 0 0;
}

.avatar {
	margin-right: 5px;
	float: left;
	height: 30px;
	weight: 30px;
}

.check-players {
	margin-top: 10px;
	margin-bottom: 10px;
}

.player-in-check {
	background: #e6e6e6;
	text-align: left;
	border-radius: 0;
}

.check-field {
	width: 100%;
}

#user_text, #addPlayer-btn {
	float: right;
}

#komandy {
	margin-right: 0;
	margin-left: 0;
}

.modal-button {
	float: right;
	margin-top: 20px;
	margin-bottom: 20px;
}

.add-btn-modal {
	display: block;
	margin: 15px auto;
}

button.close-btn-modal  {
	padding: 6px;
}

.result {
	margin-top: 10px;
	display: inline-flex;
}

.first-result, .second-result, .vs {
	width: 50px;
	text-align: center;
}

#tournament {
	margin-top: 30px;
}

#tournament input{
	width: 40px;
}